# Archivos de entorno
.env

# Archivos y carpetas de construcción
/build/
/tmp/
.gradle/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de IDE
.idea/
*.iml
.vscode/

# Otros archivos temporales
*.swp
*.swo
